<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/signin.css" rel="stylesheet">
</head>

<body class="text-center">
<h1 class="h3 mb-3 font-weight-normal">welcome</h1>
<ul>
    <li><a href="/user/search">列表</a></li>
    <li><a href="/file">文件上传</a></li>
    <li><a href="/user/create">创建</a></li>
    <li><a href="/user/delete">删除</a></li>
    <li><a href="/user/update">编辑</a></li>
</ul>

</body>
</html>
